<footer class="footer">
	<div class="container">
		<div class="footer-brand-wrap">
			<img src="/assets/footer-brand.png" alt="" />

			<ul class="footer-navigation">
				<li><a href="#">Our services</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
			</ul>

			<div class="social-media-wrap">
				<h3 class="heading">Follow us on Social media</h3>

				<ul class="sm-wrap">
					<li>
						<a href="#"><i class="fa-brands fa-facebook"></i></a>
					</li>
					<li>
						<a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
					</li>
					<li>
						<a href="#"><i class="fa-brands fa-whatsapp"></i></a>
					</li>
				</ul>
			</div>
		</div>

		<div class="contact-deets">
			<div class="address contact-wrap">
				<span>
					<i class="fa-solid fa-location-dot"></i>
				</span>

				<p class="address-wrap">
					Canada: Toronto: 2 Lansing square, suite 707, Toronto, ON, M2J 4P8
				</p>
			</div>

			<div class="phone contact-wrap">
				<span>
					<i class="fa-solid fa-phone"></i>
				</span>

				<p>Tel: 416.733.5501</p>
			</div>

			<div class="mail contact-wrap">
				<span>
					<i class="fa-solid fa-envelope"></i>
				</span>

				<p>info@astute61x.com</p>
			</div>
		</div>
	</div>

	<div class="copyright-wrap">
		<p class="text">&copy; Copyright 2023. Astute6IX consulting, Inc.</p>
	</div>
</footer>
