<header class="header">
	<div class="container">
		<div class="brand-wrap">
			<a href="/">
				<img class="img" src="/assets/brand-logo.png" alt="" />
			</a>
		</div>

		<nav class="navigation">
			<div class="wrap">
				<ul class="nav-links">
					<li class="link">
						<a href="/"><i class="fa-solid fa-house"></i> Home</a>
					</li>

					<li class="link">
						<a href="/#services-section" id="services"
							><i class="fa-solid fa-arrow-turn-down"></i> Services</a
						>
					</li>

					<li class="link">
						<a href="/partners"
							><i class="fa-regular fa-handshake"></i> Directors</a
						>
					</li>

					<li class="link">
						<a href="/about"
							><i class="fa-solid fa-mountain-sun"></i> <span>About</span>
						</a>
					</li>

					<li class="link">
						<a href="/contact"
							><i class="fa-regular fa-address-book"></i> Contact</a
						>
					</li>
				</ul>
			</div>
		</nav>

		<div class="hamburger">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="#000000"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="#000000"
				class="w-10 h-10">
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M3.75 9h16.5m-16.5 6.75h16.5" />
			</svg>
		</div>

		<div class="hamburger-close">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="#af292e"
				class="w-10 h-10">
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M6 18L18 6M6 6l12 12" />
			</svg>
		</div>
	</div>
</header>
