---
title: Director
layout: 'base.njk'
---

<section class="director-profile">
	<div class="akin-container">
		<div class="img-container"></div>

		<div class="text-wrap">
			<h3 class="heading">Oluwakemi Oduwole</h3>

			<p class="paragraph">
				Akinwumi Reju is a distinguished international business law and trade
				law expert. A founding director of Astute 6IX Consultants, Akin is a
				partner at Topmarké Attorneys. With a remarkable career spanning over 34
				years, Akin is a seasoned legal authority in matters of international
				business transactions and trade law, offering exceptional counsel across
				various domains such as corporate, commercial, investments, franchise
				law, real estate, business immigration, and technology law.

				<br />

				<br />
				Having held pivotal positions in financial service companies, including
				the Corporate Trust Group and the Industrial & General Insurance Plc
				(IGI) Group, Akin boasts a wealth of experience in international
				business law and technology, collaborating with diverse teams in
				business development. His expertise encompasses corporate governance,
				audit, risk management, project management, business analysis, corporate
				compliance, and training.

				<br />
				<br />
				Akin's international acumen is illustrious, having led the legal
				negotiating team for the privatization of Government-owned insurance
				companies in Uganda and Rwanda under the World Bank's auspices. He
				played an instrumental role in listing a corporation on the Uganda Stock
				Exchange and facilitated the establishment of the Global Trust Bank of
				Uganda as its Legal Adviser. Akin also participated in privatization and
				change management strategies in Rwanda, Burundi, and Tanzania. Further,
				Akin has coordinated negotiations for joint ventures between prominent
				US and Canadian oil and gas EPC firms and Nigerian counterparts.

				<br />
				<br />
				Educationally accomplished, Akin holds a bachelor's degree in Law from
				the University of Benin and is a chartered secretary. His credentials
				encompass diverse certifications in Mutual Funds, Mining Law,
				Compliance, Privacy and Data Protection, and IP Rights. Akin is an
				Associate Member of the Chartered Institute of Secretaries in the UK and
				was accredited as a member of the Institute of Chartered Secretaries
				(ICS) Canada on merit in 2010. He is also a member of the Nigerian Bar
				Association (NBA), Ikeja branch, the Law Society of Ontario (LSO), and
				the Toronto Lawyers Association.

				<br />
				<br />

				Beyond his legal prowess, Akin is ardently devoted to empowering the
				community. A sought-after speaker at international business conferences,
				he is a co-founder of the Topmarke Global Network, a not-for-profit
				organization dedicated to assisting and training minority entrepreneurs
				about legal management and regulatory compliance for their businesses.
				Passionate about fostering growth, Akin serves as a mentor to start-ups
				and small businesses, offering invaluable guidance through the Toronto
				Acceleration Program (TAP) to expand their services globally.

				<br />
				<br />

				Akin's diverse interests and skills encompass organizing business
				meetings, effective communication and reporting, in-depth knowledge of
				business and corporate practices, and proficiency in registering and
				incorporating companies. His relentless pursuit of learning involves
				research in business management, intellectual property, and a passion
				for sharing ideas and insights on corporate management. A dedicated
				adviser and mentor, Akin's guidance nurtures the growth of start-ups and
				entrepreneurs seeking to thrive in the dynamic business landscape.
			</p>
		</div>
	</div>
</section>
