---
title: Contact us
layout: 'base.njk'
---

<!-- first section -->
<section class="contact-hero-section">
	<div class="container">
		<div class="text-wrap">
			<p class="text">Contact us</p>
			<h3 class="heading">We'd love to hear from you</h3>
		</div>

		<div class="img-wrap">
			<div class="location-dot"></div>
			<img class="img" src="/assets/map.jpeg" alt="" />
		</div>
	</div>
</section>

<!-- second section -->
<section class="office-locations-section">
	<div class="office-container">
		<div class="img-wrap"></div>

		<div class="text-wrap">
			<div class="heading-wrap">
				<h3 class="heading">Visit our offices</h3>
			</div>

			<div class="addresses">
				<div class="office-one office">
					<i class="fa-solid fa-location-dot"></i>
					<span
						>Canada: <br />
						2 Lansing square, suite 707, Toronto, ON, M2J 4P8 <br />
						Tel: +1.416.733.5500
					</span>
				</div>

				<div class="office-one office">
					<i class="fa-solid fa-location-dot"></i>
					<span
						>Nigeria: <br />
						Suite 14, Murg Plaza, Area 10, Garki, Abuja <br />
						Tel: +234 916 037 6449
					</span>
				</div>

				<div class="office-two office">
					<i class="fa-solid fa-envelope"></i>
					<span><p>info@astute6ix.com</p> </span>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- third section -->
<section class="form-section" id="contact">
	<div class="form-container">
		<div class="form-area">
			<div class="form-title-wrap">
				<h3 class="title">Contact us</h3>
				<p class="text">
					You can reach us any time via <span>info@astute6ix.com</span>
				</p>
			</div>

			<form class="form" action="" method="post" name="contact-form">
				<div class="input-wrap">
					<label for="name">Name</label>
					<input type="text" id="name" placeholder="Your name" required />
				</div>

				<div class="input-wrap">
					<label for="email">Email</label>
					<input
						type="email"
						id="email"
						placeholder="you@youremail.com"
						required />
				</div>

				<div class="input-wrap">
					<label for="phone">Phone number</label>
					<input type="tel" id="phone" placeholder="+1(555) 456-670" required />
				</div>

				<div class="input-wrap">
					<label for="text-area">How can we help you?</label>

					<textarea name="message" id="text-area">Your message here</textarea>
				</div>

				<button type="submit">Send</button>
			</form>
		</div>

		<div class="img-wrap"></div>
	</div>
</section>
