---
title: Partners
layout: 'base.njk'
---

<section class="partner-hero-section">
	<div class="wrap"></div>
</section>

<section class="team-section">
	<div class="text-container">
		<h3 class="heading">Meet our <span>partners</span></h3>
	</div>

	<div class="container">
		<div class="tm-wrap">
			<div class="img-wrap"></div>
			<div class="text-wrap"></div>
		</div>

		<div class="tm-wrap">
			<div class="img-wrap"></div>
			<div class="text-wrap"></div>
		</div>

		<div class="tm-wrap">
			<div class="img-wrap"></div>
			<div class="text-wrap"></div>
		</div>
	</div>
</section>
