@import 'resets';

.intro-text-section {
	background: #000;
	padding: 10em 0;

	.container {
		@include container();

		.about-intro-text {
			color: $body-text-color;
			line-height: $line-heaight;
			max-width: 500px;
			margin: 0 auto;
		}
	}
}
