@import 'resets';

.about-hero-section {
	padding: 9em 0;

	.container {
		@include container();
		position: relative;
		display: grid;
		gap: 50px;

		.heading {
			@include hero-font();
			font-family: $heading-font;
			max-width: 600px;
		}

		.positioned-text {
			position: absolute;
			top: 20%;
			font-size: 100px;
			white-space: nowrap;
			text-transform: capitalize;
			color: rgba(0, 0, 0, 0.03);
		}

		.img-container {
			background: url('/assets/about-hero-img.png') center/cover, no-repeat;
			height: 400px;
			border-radius: 20px;
		}

		@media screen and (min-width: 43em) {
			gap: 150px;
			.img-container {
				max-width: 400px;
			}
		}

		@media screen and (min-width: 62em) {
			display: flex;
			padding-top: 6em;
			align-items: center;

			.heading {
				height: fit-content;
			}

			.img-container {
				width: 100%;
			}
		}
	}
}
