@import 'resets';

.contact-hero-section {
	padding-top: 15vh;
	margin-bottom: 4em;
	.container {
		@include container();

		.text-wrap {
			text-align: center;
			padding: 4em 0;

			.text {
				font-size: 1.1rem;
				font-weight: $font-semibold;
				color: $bg-color;
				transform: translateY(-100px);
				transition: all 1000ms ease;
				opacity: 0;
			}

			.heading {
				font-size: $body-font-size;
				// margin-bottom: 0.7em;
				padding: 0 2em;
				line-height: 1.3;
			}

			.animation-2 {
				transform: translateY(-100px);
				transition: all 1s ease;
				opacity: 0;
			}
		}

		.img-wrap {
			background: url('/assets/map.jpeg') center / cover, no-repeat;
			// height: 500px;
			// width: 100%;
			opacity: 0.4;
			position: relative;
			z-index: 0;

			.location-dot {
				position: absolute;
				height: 15px;
				width: 15px;
				border-radius: 100%;
				background: red;
				left: 23%;
				top: 20%;
				cursor: pointer;
				z-index: 100;
			}

			.img {
				width: 100%;
			}
		}

		// transition on load
		.animation-3 {
			transform: translateY(100%);
			transition: all 1s ease;
			opacity: 0;
		}
	}
}
