@import 'resets';

.partner-hero-section {
	// background: teal;

	background: url('/assets/partnership.jpeg') center/cover, no-repeat;
	height: 550px;
	padding-top: 15vh;
	margin-bottom: 6em;
	.wrap {
		height: 100%;
		position: relative;
		width: 100%;

		&::before {
			content: '';
			position: absolute;
			inset: 0;
			background: rgba(0, 0, 0, 0.699);
			width: 100% !important;
		}
	}
}

.team-section {
	padding-bottom: 10em;
	margin-bottom: 10em;
	.text-container {
		margin-bottom: 4em;

		.heading {
			font-size: $body-font-size;
			margin-bottom: 0.8em;
			text-align: center;
		}
	}

	.container {
		@include container();
		display: grid;
		gap: 3em;

		.tm-wrap {
			min-height: 400px;
			width: 100%;
			border-radius: 20px;

			.img-wrap1 {
				background: url('/assets/person-1.png') center/cover, no-repeat;
				height: 400px;
				width: 100%;
				border-radius: 20px;
			}

			.img-wrap2 {
				background: url('/assets/person-2.png') center/cover, no-repeat;
				height: 400px;
				width: 100%;
				border-radius: 20px;
			}

			.img-wrap3 {
				background: url('/assets/person-3.png') center/cover, no-repeat;
				height: 400px;
				width: 100%;
				border-radius: 20px;
			}

			.wrap {
				margin-bottom: 1em;
			}

			.text-wrap {
				.heading {
					font-weight: $font-semibold;
					margin-bottom: 0.5em;
				}

				.about-snippet {
					margin-bottom: 1em;
				}

				.link {
					background: $accent-color;
					color: $color-light;
					padding: 1em 2em;
					display: inline-block;
					border-radius: 30px;
				}
			}
		}

		@media screen and (min-width: 43em) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media screen and (min-width: 62em) {
			grid-template-columns: repeat(3, 340px);
			gap: 20px;
			margin: 0 auto;
			justify-content: center;
		}
	}
}
