@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,500&display=swap');

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	overflow-x: hidden;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

// variables
$primary-color: #f9f871;
$accent-color: #af292e;
$body-heading-color: #373737;
$body-text-color: #7c7c7c;
$color-light: #fff;
$bg-color: #112b36;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$heading-font: 'Playfair Display', serif;

@mixin card {
	border-radius: 1.25rem;
	background: rgba(54, 54, 51, 0.42);
	box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.25);
	// filter: blur(0.5px);
	backdrop-filter: blur(34.5px);
	border: 2px solid rgba(54, 54, 51, 0.42);
	cursor: pointer;
}

@mixin hero-font {
	color: #000;
	font-family: Poppins;
	font-size: clamp(1rem, 10vw, 3.90425rem);
	font-style: normal;
	font-weight: 700;
	line-height: 124.5%; /* 4.86081rem */
}

@mixin body-text {
	color: $body-text-color;
	font-family: Poppins;
	font-style: normal;
	font-weight: 400;
	line-height: 194%;
}

@mixin container {
	width: 90%;
	margin: 0 auto;
}
